	
	<div class="place_flex_title">
		<h2><%= @user.name.split.first %>'s' Dream Places</h2></div>
	<div class="place_flex">
		<% @user.dream.places.each do |place| %>
			<div class="place_display" style="background-image: url('<%= place.avatar.url(:thumb) %>')">
				<%= link_to place_path(place.url) do %>
					<div class="place_color">
						<p><%= place.name %></p>
							<%= form_tag 'delete_dreams' do %>

							<%= hidden_field_tag :place_id, place.id %>
							<%= hidden_field_tag :user_id, @user.id %>
							<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<%= submit_tag 'X', class: 'x_dreams' %>
							<% end %>
					</div>
				<% end %> 
			</div>
		<% end %>
	</div>
	<div class="place_flex_title">
		<h2><%= @user.name.split.first %>'s' Shared Places</h2></div>
	<div class="place_flex">
		<% @user.make.places.each do |place| %>
		<% if place.approved? %>
			<div class="place_display" style="background-image: url('<%= place.avatar.url(:thumb) %>')">
				<%= link_to place_path(place.url) do %>
					<div class="place_color">
						<p><%= place.name %></p>
					</div>
				<% end %> 
			</div>
		<% end %>	
		<% end %>	
	</div>

