<div class="user_countries">
	<p><%= current_user.name %></p>
	<span class="glyphicon glyphicon-flag"></span>
	<p><%= @user.countrylist.countries.length %>/<%= @countries.length %><%= link_to ' Countries', countries_path %> Visited</p>	

	<div class=country_list>
		<% @user.countrylist.countries.each do |country| %>
			<%= link_to country.url.titleize, country_path(country.url) %>
				<%= form_tag '/users/delete_countries' do %>
					<%= hidden_field_tag :user_id, current_user.id %>
					<%= hidden_field_tag :country_id, country.id %>
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<%= button_tag('X', type: 'submit', class: "xcountry_button", :method => 'post') %>
				<% end %>
		<% end %>
	</div>
</div>

	<div class="place_flex_title">
		<h3>Dream Places</h3></div>
	<div class="dream_places">	
		<div class="place_flex">
			<% @user.dream.places.reverse_each do |place| %>
					<div class="dreams place_display" style="background-image: url('<%= place.avatar.url(:thumb) %>')">
						<%= link_to place_path(place.url) do %>
							<div class="place_color">
							<p><%= place.name %></p>
								<%= form_tag 'delete_dreams' do %>
									<%= hidden_field_tag :place_id, place.id %>
									<%= hidden_field_tag :user_id, @user.id %>
									<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
									<%= submit_tag 'X', class: 'delete-dreams' %>
								<% end %>
							</div>
						<% end %> 	
					</div>
			<% end %>
		</div>
		<button id="showdreams">Show More &nabla;</button>	
	</div>

		<div class="place_flex_title">
			<h3>Pinned Places</h3></div>
	<div class="pinned_places">
			<div class="place_flex">
				<% @user.make.places.reverse_each do |place| %>
					<% if place.approved? %>
						<div class="pins place_display" style="background-image: url('<%= place.avatar.url(:thumb) %>')">
							<%= link_to place_path(place.url) do %>
								<div class="place_color">
									<p><%= place.name %></p>
								</div>
						<% end %> 
						</div>
					<% end %>	
				<% end %>
			</div>	
		<button id="showpins">Show More &nabla;</button>
	</div>
	
		<div class="place_flex_title"><h3>Shared Experiences</h3></div>
	<div class="experienced_places">	
		<% @user.experiences.reverse_each do |experience| %>
			<% @places.reverse_each do |place| %>
				<% if experience.place_id == place.id %>
					<div class="row user_experiences tenexperiences">
						<h4><%= place.name %></h4>
						<div class="row">
							<p><%= experience.review %></p>
								<%= button_to 'Update', edit_place_experience_path(place.url, experience.id), class: 'place_buttons', :method => 'get' %>
						</div>
					</div>	
				<% end %>
			<% end %>
		<% end %>
		<button id="showexperiences">Show More &nabla;</button>
	</div>


<script>

var pins = document.getElementsByClassName('pins');
var dreams = document.getElementsByClassName('dreams');
var showMorePins = document.getElementById('showpins');
var showMoreDreams = document.getElementById('showdreams');
var userExperiences = document.getElementsByClassName('user_experiences');
var showMoreExperiences = document.getElementById('showexperiences');

function showElements (element, number) {
	this.element = element;
	this.number = number; 

	this.hideAll = function () {
			for (var i = 0; i < this.element.length; i++) {
				this.element[i].style.display = "none";
			}
}

	this.showTwelve = function () {
		this.hideAll(this.element);
			for (var x = 0; x < this.number; x++) {
					this.element[x].style.display = "initial";
			}
	this.number += this.number;
}
	
}

<% if @user.dream.places.length > 0 %>

var dreamPlaces = new showElements(dreams, 12);
dreamPlaces.showTwelve();
showMoreDreams.addEventListener('click', function () { 
	dreamPlaces.showTwelve();
})

<% end %>

<% if @user.make.places.length > 0 %>

var pinnedPlaces = new showElements(pins, 12);
pinnedPlaces.showTwelve();
showMorePins.addEventListener('click', function () {
	pinnedPlaces.showTwelve();
})

<% end %>


<% if @user.experiences.length > 0 %>

var experiencePlaces = new showElements(userExperiences, 8);
experiencePlaces.showTwelve();
showMoreExperiences.addEventListener('click', function () {
	experiencePlaces.showTwelve()
})

<% end %>

</script>

	

