<div class="row img-responsive home_image">

<h2>Meet Your Inspiration</h2>
<p>See The Beautiful World. Share Beautiful Places.</p>

</div>

<div class="row search_bar">
<%= form_tag(places_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Find Your Place" %>
    <%= submit_tag "Search", :name => nil, class: 'search_button' %>
<% end %>
</div>



 <div id="amap"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('amap'), {
          zoom: 2,
          center: {lat: 41.2524, lng: 95.9980}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
      <% @places.each do |place| %>
        {lat: <%= place.latitude %> , lng: <%= place.longitude %>},
      <% end %>  
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&callback=initMap">
    </script>
