<div class="top_banner">
    <h2>The Five Most Beautiful Places In The World</h2>
</div>
  
<div class="top_photo" style="background-image: url('<%= asset_path("ifalls.jpg")%>')">
</div>

<div class="top_title">
    <h4>1. Iguazu Falls - Argentina & Brazil</h4>
        <div class="top_caption">
            <p>The largest waterfalls system in the world. Iguazu Falls sits on the borders of the Argentine province of Misiones and the Brazilian state of Paraná. Igauzu consists of over 270 waterfalls, with the largest being called "La Garganta Del Diablo" or The Devil's Throat.</p>
        </div>
</div>

<div class="top_photo" style="background-image: url('<%= asset_path("storms-river-mouth.jpg")%>')">
</div>

<div class="top_title">
    <h4 style="text-align: right;">2. Tsitsikamma National Park - South Africa</h4>
        <div class="top_caption" style="margin-left:auto; margin-right:0; text-align: right;">
            <p>One of South Africa's many beautiful national parks, Tsitsikamma is known for its forests and stunning coastline. Pictured here is Storms River Mouth, one of the many rivers that flow through the park.</p>
        </div>
</div>
  
<div class="top_photo" style="background-image: url('<%= asset_path("glacier-mountain1.jpg") %>')">
</div>

<div class="top_title">
    <h4>3. Glacier National Park - United States</h4>
        <div class="top_caption">
            <p>Glacier National Park might need to be renamed in a few years. If the current warming trend continues, all of its glaicers are expected to melt by 2035. Nonetheless, it is still one of America's most diverse and beautiful national parks</p>
        </div>
</div>
 
<div class="top_photo" style="background-image: url('<%= asset_path("yosemite-national-vallye.jpg") %>')">
</div>  

<div class="top_title">
    <h4 style="text-align: right;">4. Yosemite National Park - United States</h4>
        <div class="top_caption" style="margin-left:auto; margin-right:0; text-align: right;">
            <p>Yosemite is internationally recognized for its granite cliffs, waterfalls, clear streams, giant sequoia groves, lakes, mountains, glaciers, and biological diversity. Yosemite Valley, pictured above, only represents one percent of this national park. </p>
        </div>
</div>

<div class="top_photo" style="background-image: url('<%= asset_path("ko-phi-phi.jpg") %>')">
</div>

<div class="top_title">
    <h4>5. Ko Phi Phi - Thailand</h4>
        <div class="top_caption">
            <p>A small group of islands in the Indian Ocean, Ko Phi Phi came to worldwide prominence when Ko Phi Phi Leh (Maya Bay) was used as a location for the 2000 British-American film The Beach. The islands are now a popular party destination for young tourists. </p>
        </div>
</div>
  
