<h1>Experiences#new</h1>
<p>Find me in app/views/experiences/new.html.erb</p>



<%= form_for @experience, url: 'create', :method => 'post' do |f| %> 

	<%= hidden_field_tag :user_id, current_user.id %>
	<%= hidden_field_tag :place_id, @place.url %>
	<%= hidden_field_tag :user_name, current_user.name %>
	<%= f.label :review %> 
	<%= f.text_field :review %>

	<%= submit_tag "Review" %>
<% end %>