<div class="experience_share">

<% if Experience.exists?(user_id: [current_user.id], place_id: @place.id) %>
	<p>Did You Visit Here Again?</p>
		<% @place.experiences.each do |experience| %>
			<% if experience.user_id == current_user.id %>
				<%= button_to 'Update Your Experience', edit_place_experience_path(@place.url, experience.id), :method => 'get', class: 'place_buttons' %>
						<p class="current_experience"><%= experience.review %></p>
			<% end %>	
		<% end %>
	
<% else %>
	<%= form_for @experience, url: 'create', :method => 'post' do |f| %> 
		<h3>Share Your Experience At <%= @place.name %></h3>
			<div class="ratings">
				<label>
					<%= f.radio_button(:rating, 1) %>
				 		<%= render '/svgs/star' %>
				</label>	
				<label>
					<%= f.radio_button(:rating, 2) %>
						<%= render '/svgs/star' %>
				</label>	
				<label>
					<%= f.radio_button(:rating, 3) %>
						<%= render '/svgs/star' %>
				</label>	
				<label>
					<%= f.radio_button(:rating, 4) %>
						<%= render '/svgs/star' %>
				</label>	
				<label>
					<%= f.radio_button(:rating, 5) %>
						<%= render '/svgs/star' %>
				</label>	
			</div>
			<div class="review_box">
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :place_id, :value => @place.id %>
				<%= f.hidden_field :user_name, :value => current_user.name %>
				<%= f.text_area :review, size:"40x50" %>
				<%= submit_tag "Share", class: "share_button place_buttons" %>
			</div>
	<% end %>			
<% end %>
</div>