<h3>Share Your Experience At <%= @place.name %></h3>


	<%= form_for @experience, url: 'create', :method => 'post' do |f| %> 
	
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :place_id, :value => @place.id %>
				<%= f.hidden_field :user_name, :value => current_user.name %>

				<%= f.label :review %> 
				<%= f.text_field :review %>

				<%= submit_tag "Review" %>
	<% end %>			
		
