<div class="experience_share">
<h3>Share Your Experience At <%= @place.name %></h3>




<% if Experience.exists?(user_id: [current_user.id], place_id: @place.id) %>
	<h3>Your Experience At <%= @place.name %></h3>
		<p>My experience</p>
<% else %>
	<%= form_for @experience, url: 'create', :method => 'post' do |f| %> 

			<div class="ratings">
			<label>
				<%= f.radio_button(:rating, 1) %>
				 	<svg class="fillstar" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 51 48">
					<title>Five Pointed Star</title>
					<path stroke="#000" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
					</svg>
			</label>	
			<label>
				<%= f.radio_button(:rating, 2) %>
					<svg class="fillstar" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 51 48">
					<title>Five Pointed Star</title>
					<path stroke="#000" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
					</svg>
				
			</label>	
			<label>
				<%= f.radio_button(:rating, 3) %>
					<svg class="fillstar" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 51 48">
					<title>Five Pointed Star</title>
					<path stroke="#000" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
					</svg>
			
			</label>	
			<label>
				<%= f.radio_button(:rating, 4) %>
					<svg class="fillstar" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 51 48">
					<title>Five Pointed Star</title>
					<path stroke="#000" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
					</svg>
			
			</label>	
			<label>
				<%= f.radio_button(:rating, 5) %>
					<svg class="fillstar" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 51 48">
					<title>Five Pointed Star</title>
					<path stroke="#000" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
					</svg>
			</label>	
			</div>
			<div class="review_box">
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :place_id, :value => @place.id %>
				<%= f.hidden_field :user_name, :value => current_user.name %>

				<%= f.text_area :review, size:"40x50" %>

				<%= submit_tag "Share", class: "share_button" %>
			</div>
	<% end %>			
<% end %>
</div>