<div class="place_flex">
<% @places.all.each do |place| %>
	   <div class="place_display" style="background-image: url('<%= place.avatar.url(:thumb) %>')">
			<%= link_to place_path(place.url) do %>
				<div class="place_color">
					<p><%= place.name %></p>
				</div>
      <% end %>  
    </div>
                  <% if current_user.try(:admin?) %>
                      <%= form_for(place, :method => 'patch', confirm: "Are You Sure?") do |f| %>
                      <%= f.submit 'Approve', data: { confirm: "Are you sure?" } %>
                      <% end %>

                      <%= form_for(place, :method => 'delete', confirm: "Are You Sure?") do |f| %>
                      <%= f.submit 'Delete', data: { confirm: "Are you sure?" } %>
                      <% end %>
                  <% end %> 
<% end %>
</div>