<h1>Share Your Escape</h1>
<%= form_for Place.new do |f| %>
<div class="places_form">
		<p><%= flash[:placeerror] if flash[:placeerror] %></p>

		<%= f.label "Add Photo" %>
		<%= f.file_field :avatar %>

		<%= f.label :name, value: 'Place' %>
		<%= f.text_field :name, placeholder: 'Ex. Niagara Falls, Eiffel Tower, etc' %>

		<%= f.label :address, value: "Full Address" %>
		<%= f.text_field :address %>

		<%= f.label :country, value: "Country" %>
		<%= f.text_field :country %>

		<%= f.label "Shared By" %>
		<%= f.text_field :created_by %>

		<%= f.submit class: 'submit_button', value: 'Share' %>
</div>
	<% end %>

<div class="places_form_content"></div>
