<h1>Pin Your Escape</h1>
<%= form_for Place.new do |f| %>
<div class="places_form">
		<p class="place_flash"><%= flash[:placesuccess] if flash[:placesuccess] %></p>
		<p class="place_flash"><%= flash[:placeerror] if flash[:placeerror] %></p>

		<%= f.label "Add Photo" %>
		<%= f.file_field :avatar %>

		<%= f.label :name, value: 'Place' %>
		<%= f.text_field :name, placeholder: 'Ex. Niagara Falls, Eiffel Tower, etc' %>

		<%= f.label :address, value: "Full Address" %>
		<%= f.text_field :address %>

		<%= f.label :country, value: "Country" %>
		<%= f.select(:country, options_for_select(countries)) %>

		<%= f.label "Shared By" %>
		<%= f.text_field :created_by, :value => current_user.name, :readonly => true %>

		<%= f.hidden_field :make_id, :value => current_user.make.id %>

		<%= f.submit 'Share', class: 'submit_button' %>
</div>
	<% end %>

<div class="places_form_content">
	1. Large Photo
	2. GPS Address
	3. Leave Nothing Blank
	4. No Photoshop 

</div>
