<div class="places_new">
	<h1>Pin Your Place</h1>
		<%= form_for Place.new do |f| %>
			<div class="places_form">
				<p class="place_flash"><%= flash[:placesuccess] if flash[:placesuccess] %></p>
					<% if @place.errors.any? %>
    					<% @place.errors.full_messages.each do |message| %>
    					 	<% message.split %>
       						<p class="place_flash"><%= message %></p>
     					<% end %>
					<% end %>

			<div id='file_display'>
			</div>	

			<%= f.file_field :avatar, class: 'places_form_input' %>
			<%= f.label "Add Photo", class: 'places_form_label' %>

			<%= f.text_field :name, placeholder: 'Ex. Niagara Falls, Eiffel Tower, etc', class: 'places_form_input' %>
			<%= f.label :name, value: 'Place', class: 'places_form_label' %>

			<%= check_box_tag 'current_location' %>
			<%= label_tag 'Use Current Location' %>	

			<%= f.text_field :address, class: 'places_form_input' %>
			<%= f.label :address, value: "Full Address", class: 'places_form_label' %>

			<%= f.collection_select(:country_id, Country.all.sort_by(&:name), :id, :name, {}, {class: 'places_form_input'}) %>
			<%= f.label :country_id, value: "Country", class: 'places_form_label' %>

			<%= f.text_field :created_by, :value => current_user.name, :readonly => true, class: 'places_form_input' %>
			<%= f.label "Shared By", class: 'places_form_label' %>

			<%= f.hidden_field :make_id, :value => current_user.make.id %>

			<%= f.hidden_field :approved, :value => false %>

			<%= f.submit 'Pin', class: 'submit_button' %>
		</div>
	<% end %>

	<div class="places_form_content">
		<h3>What is a place?</h3>
		<p>-A beautiful place can be anything. Submit your place, lets find out how many beautiful places there are.</p>
		<h3>Submiting A Pin For Approval</h3>
		<p>-Do Not Leave Any Forms Blank.</p>
		<p>-If you cannot find an address. Use something like, "Eiffel Tower, Paris, France"</p><p>-Use a large horizontal photo. File Size under 3MB. There are free apps for this. The image is meant to give an accurate represention of the place, please avoid using heavely altered images.</p>
		<p>-Your name will be listed on the bottom right hand corner of the image when approved on our website.</p>
		<p>-Our team will approve images within 24 hours of submission.</p>
	</div>
</div>

<script>

	$('#current_location').change(function () {

	if($('#current_location').is(':checked')) {

		$.ajax({
			type: 'POST',
			url: 'https://www.googleapis.com/geolocation/v1/geolocate?key=<%= GEOLOCATION_KEY %>',
			datatype: 'json',
			success: function (response) {
				$('#place_address').val(response.location.lat + ", " + response.location.lng)
			}
		});

	}

	else {
		$('#place_address').val("");
	}
	

});	
</script>