<h1>Pin Your Escape</h1>
	<%= form_for Place.new do |f| %>
<div class="places_form">
		<p class="place_flash"><%= flash[:placesuccess] if flash[:placesuccess] %></p>
		<p class="place_flash"><%= flash[:placeerror] if flash[:placeerror] %></p>

		<%= f.label "Add Photo" %>
		<%= f.file_field :avatar %>

		<%= f.label :name, value: 'Place' %>
		<%= f.text_field :name, placeholder: 'Ex. Niagara Falls, Eiffel Tower, etc' %>

		<%= f.label :address, value: "Full Address" %>
		<%= f.text_field :address %>

		<%= f.label :country, value: "Country" %>
		<%= f.select(:country, options_for_select(countries)) %>

		<%= f.label "Shared By" %>
		<%= f.text_field :created_by, :value => current_user.name, :readonly => true %>

		<%= f.hidden_field :make_id, :value => current_user.make.id %>

		<%= f.hidden_field :approved, :value => false %>

		<%= f.submit 'Pin', class: 'submit_button' %>
</div>
	<% end %>

<div class="places_form_content">
<h3>Submiting A Pin For Approval</h3>
<p>Thanks for submitting your beautiful place to Earth Pinner</p>
<p><strong>What is a place?</strong></p>
<p>While there is no International "Beautiful Place" commission. The Earth Pinner team will do the best they can. Your backyard might be quite beautiful but likely will not be approved.</p>
<p>-Do Not Leave Anything Blank.</p><p>-Please use A GPS Address as "Address". If you cannot find an address. Use something like, "Eiffel Tower, Paris, France"</p><p>-All images must be yours. This image is meant to give an accurate represention of the place, please avoid using heavely altered photoshopped images.</p><p>-Your name will be listed on the bottom right hand corner of the image when approved on our website.</p><p>-Our team will approve images within 24 hours of submission.</p><p>Thanks for helping pin "The World's Greatest Travel Map."</p>
</div>
