<h1><%= @place.name %></h1>

<div class="place_image">
</div>

<div class="place_content_bar">
	<p>Location: <%= @place.city %>, <%= @place.country %></p>
	<p>Closest City: <%= @place.closest_city %></p>
	<p>Website: <%= @place.website %></p>
	<h4>About <%= @place.country %></h4>
	<h4>How To Get To <%= @place.name %> Without Car or Tour</h4>

</div>


