<h1><%= @place.name %></h1>

<div class="place_image" style="background-image: url('<%= @place.avatar.url %>')">
	<h6><%= @place.created_by %></h6>
</div>


<div class="row place_content_bar">
	<div class="col-xs-4 info">
	<% if current_user %>
		<%= form_tag 'add_dreams' do %>

		<%= hidden_field_tag :user_id, current_user.id %>
		<%= hidden_field_tag :place_id, @place.id %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<%= button_tag "", type: 'submit', class: "glyphicon glyphicon-plus-sign" %>
		Add To Dreams
		<% end %>
	<% end %>
	</div>
	<div class="col-xs-4 info">
	<%= button_to 'Share Your Experience', new_place_experience_path, :method => "get", class: 'place_buttons' %>
	</div>
	<div class="col-xs-4 info">
	<%= button_to "Plan Your Trip", help_path, :method => "get", class: 'place_buttons' %>
	</div>
</div>
<div class="row place_info_bar">
	<div class="col-xs-4 info">
		<h4>About <%= @place.country %></h4>
	</div>
	<div class="col-xs-4 info">
		<h4>How To Get To <%= @place.name %> Without Car or Tour</h4>
	</div>
	<div class="col-xs-4 info">
		<h4>Tips For <%= @place.name %></h4>
	</div>
</div>

<div class="row experience_div">
	<h2>Latest Experiences At <%= @place.name %></h2>
			<% @place.experiences.last(5).each do |experience| %>
				<div class="experiences">
				<%= experience.created_at.strftime("%b %d, %Y") %><br><br>
				<%= experience.review %>
				</div>
			<% end %>
</div>


<div id="map">
<p class="latitude"><%= @place.latitude %></p><p class="longitude"><%= @place.longitude %></p>
</div>

<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&callback=initMap">
</script>



