<h1><%= @place.name %></h1>

<div class="place_image" style="background-image: url('<%= @place.avatar.url %>')">

</div>


<div class="row place_content_bar">
	<% if current_user %>
		<%= form_tag 'add_dreams' do %>

		<%= hidden_field_tag :user_id, current_user.id %>
		<%= hidden_field_tag :place_id, @place.id %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<%= button_tag "", type: 'submit', class: "glyphicon glyphicon-plus-sign" %>
		Add To Dreams
		<% end %>
	<% else %>	
	<% end %>
	<%= button_to 'Share Your Experience At @place.name', place_experiences_path %>
	<p><%= @place.website %></p>
	<h4>About <%= @place.country %></h4>
	<h4>How To Get To <%= @place.name %> Without Car or Tour</h4>

</div>

<div class="row experience div">
<h2>Latest Experiences At <%= @place.name %></h2>
<% @place.experiences.each do |experience| %>
<div class="experiences">
	<%= experience.reviews %>
</div>
</div>
<% end %>


<div id="map">
<p class="latitude"><%= @place.latitude %></p><p class="longitude"><%= @place.longitude %></p>
</div>

<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&callback=initMap">
</script>



