<h1><%= @place.name %></h1>

<div class="place_image" style="background-image: url('<%= @place.avatar.url %>')">
	<h6><%= @place.created_by %></h6>
</div>


<div class="row place_content_bar">
	<div class="col-xs-4 info">
	<% if current_user %>
		<%= form_tag 'add_dreams' do %>

		<%= hidden_field_tag :user_id, current_user.id %>
		<%= hidden_field_tag :place_id, @place.id %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<%= button_tag "Add To Your Dream Places", type: 'submit', class: "place_buttons" %>
		<% end %>
	<% end %>
	</div>
	<div class="col-xs-4 info">
	       <%= button_to 'Share Your Experience', new_place_experience_path, :method => "get", class: 'place_buttons' %>
	</div>
  
	<div class="col-xs-4 info">
	<%= button_to "Plan Your Trip", help_path, :method => "get", class: 'place_buttons' %>
	</div>
</div>

<div class="row place_info_bar">





	<div class="col-xs-6 info">
  <h4>About <%= @place.name %></h4>
    Website:<br> 
    Admission:<br>
    Description: <br>
    Arrive Without A Tour: <br>
	</div>


	<div class="col-xs-6 info">
		<h4>About <%= @place.country %></h4>
    Capital:<br>
    Currency: <br>
    Population:<br>
    Language: <br>
    Visa Requirements: (embassy website)<br>
	</div>
</div>



<div class="row experience_div">
	<h2>Latest Experiences At <%= @place.name %></h2>
			<% @place.experiences.last(5).reverse_each do |experience| %>
				<div class="experiences">
				<%= experience.created_at.strftime("%b %d, %Y") %><br>
				<strong>By <%= experience.user_name %></strong><br><br>
				<%= experience.review %><br><br>
				</div>
			<% end %>
</div>

<%= @averagerating %>

<div id="map">

</div>

<script>

     function initMap () {
        var uluru = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru,
          mapTypeId: 'terrain',
           styles: [
            { 
              featureType: 'administrative.country',
              elementType: 'geometry.fill',
              stylers: [{color: '#FFFFFF'}]
            },
            { 
              featureType: 'administrative.country',
              elementType: 'geometry.stroke',
              stylers: [{color: '#FFFFFF'}]
            },
            {
              featureType: 'landscape.natural.landcover',
              elementType: 'geometry.fill',
              stylers: [{color: '#34A56F'}]
            },
            {
              featureType: 'landscape.natural.terrain',
              elementType: 'geometry.fill',
              stylers: [{color: '#FFFAFA'}]
            },
            {
              featureType: 'road.local',
              elementType: 'geometry.fill',
              stylers: [{color: '#D3D3D3'}]
            },
            {
              featureType: 'road.local',
              elementType: 'geometry.stroke',
              stylers: [{color: '#D3D3D3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.fill',
              stylers: [{color: '#D3D3D3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#D3D3D3'}]
            },
            { 
              featureType: 'poi.park',
              elementType: 'geometry.fill',
              stylers: [{color: '#7CFC00'}]
            },
            { 
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#FFFFFF'}]
            },
            { 
              featureType: 'poi.park',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#000000'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#00E5EE'}]
            },
          ]
           
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
       
</script>

<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&callback=initMap">
</script>



