<h1><%= @place.name %></h1>

<div class="place_image">
</div>

<div class="place_content_bar">
	<h3>Location</h3><p><%= @place.city %>, <%= @place.country %></p>
	<h3>Closest City</h3><p><%= @place.closest_city %></p>
	<h3>Website</h3><p><%= @place.website %></p>
</div>


