<!DOCTYPE html>
<html>
  <head>
    <title>Earth Pinner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <div class="mynavbar">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Places", places_path %>
              <ul>
                <li><%= link_to "Countries", countries_path %></li>
              </ul>
            </li>
              
            <li><h1 class="logo">Earth Pinner</h1></li>
                <script>
               <% if current_page?('/') %>
                  document.getElementsByClassName('logo')[0].classList.add('endlogo')
                  <% end %>
                </script>
       <% if current_user %>
              <li><%= link_to 'Pin Your Place', new_place_path %></li>
              <li><%= link_to "My Profile", user_path(current_user) %></li>
      <% else %>
              <li></li>
              <li><%= button_to "f" + " Log In With Facebook", "/auth/facebook", class: 'facebook'%></li>
      <% end %>
          </ul>
    </div>
  <div class="container"> 
    <%= yield %>


  </div>
  <div class="main_footer">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Plan Your Trip", help_path %></li>
       <% if current_user %>
      <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <li> <%= form_for(current_user, :method => 'delete') do |f| %>
           <%= f.submit 'Delete Your Account', id: 'delete_account', data: { confirm: "Are you sure?" } %><% end %></li>
      <% end %>
    </ul>
  </div>
</body>
</html>
