<!DOCTYPE html>
<html>
  <head>
    <title>Earth Pinner</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rouge+Script|IM+Fell+Great+Primer+SC|Seaweed+Script" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <div id="overlay"></div>
  <div class="container" itemscope itemtype="http://schema.org/"> 

  <div class="glyphicon glyphicon-hand-up" style="display: none;"></div>

    <div class="menu-icon glyphicon glyphicon-list"></div>
    <div class='header'>
          <h1 class="logo navlogo" itemprop="name">Earth Pinner</h1>
          <ul class="menu-main">
            <li><%= link_to 'Earth Pinner', root_path, class: 'logo' %></li>
            <li class="menu-places"><%= link_to 'Places', places_path %>
              <ul>
                 <li class="menu-places-item"><%= link_to "The Most Beautiful Places", most_beautiful_places_path %></li>
                  <li class="menu-places-item"><%= link_to "The Waterfall Collection", waterfalls_path %></li>
              </ul>
            </li>
            <li><%= link_to 'Countries', countries_path %></li>
      <% if current_user %>
                <li><%= link_to 'Pin Your Place', new_place_path %></li>
                <li><a href="/users/<%= current_user.id %>", class="re-wrap"><span id="wrap">My Profile</span></a> </li>
                <li><a href="/signout" id="sign_out">Sign out</a></li>
      <% else %>
              <li><%= button_to "f" + " Log In With Facebook", "/auth/facebook", class: 'facebook'%> </li>
              <li class="instagram-logo">
                <a href="http://www.instagram.com/earthpinner" class='instagram-link'>
                 <%= render '/layouts/instagram' %></a>
             </li>
      <% end %>
          </ul>
    </div>
  <%= yield %>




  </div>
  <div class="main_footer">
    <ul>
        <li><%= link_to "Plan Your Trip", help_path %></li>
    <% if current_user %>
        <li><%= form_for(current_user, :method => 'delete') do |f| %>
              <%= f.submit 'Delete Account', id: 'delete_account', data: { confirm: "Are you sure?" } %>
       </li>
          <% end %>
    <% end %>
    </ul>
  </div>

</body>
</html>